# app name & debug 
APP_NAME=

# environment
PRODUCTION=

# database config
POSTGRES_DRIVER=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PORT=
POSTGRES_PASSWORD=
POSTGRES_DB=

# email credentials
MAIL_USERNAME=
MAIL_PASSWORD= 
MAIL_FROM=

# email configuration
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TSL=
VALIDATE_CERTS=

# ======= security =======
# hash
ALGORITHM=

# auth
SECRET_KEY=

# minutes
ACCESS_TOKEN_EXPIRE=

# days
REFRESH_TOKEN_EXPIRE=

# csrf
CSRF_SECRET_KEY=

# reset password
RESET_PASSWORD_SECRET_KEY=

# frontend url
FRONTEND_URL=

# cookie name
REFRESH_TOKEN_COOKIE_NAME=

