@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  /* Font */
  --font-text: 'Inter', sans-serif;
  --font-title: "Fraunces", serif;

  /* Dimensioni */
  --text-size: 1rem;
  --title-size: 1.4rem;
  --logo-size: 1.6rem;
  --icon-size: 1.3rem;
  --icon-social: 1.9rem;
}