@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  --font-text: 'Inter', sans-serif;
  --font-title: "Fraunces", serif;

  --text-size: 1rem;
  --text-title-size: 1.4rem;
  --text-stitle.size: 1.2rem;
  --text-logo-size: 1.6rem;
  --text-icon-size: 1.3rem;
  --text-icon-social: 1.9rem;
}